%div{:id => 'search'}
  %ul{:class => 'breadcrumb'}
    %li
      %a{:href => '/'} MARC
    %li >>
    %li
      %a{:href => '/search'} Search Results
  %h2 Search Results
  - @search.each do |product|
    %p 
      %a{:href => "/categories/#{product.category_id}/products/#{product.id}", :class => 'name'}= product.title
      = product.description