@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* Colors */
/* Containers */
/* line 3, ../../app/stylesheets/_containers.sass */
div.container {
  width: 960px;
  margin: 0px auto;
}

/* line 7, ../../app/stylesheets/_containers.sass */
div.third {
  float: left;
  width: 320px;
}

/* line 11, ../../app/stylesheets/_containers.sass */
div.two_third {
  float: left;
  width: 620px;
  padding-left: 20px;
}

/* line 16, ../../app/stylesheets/_containers.sass */
div.half {
  float: left;
  width: 480px;
}

/* line 20, ../../app/stylesheets/_containers.sass */
div.clear {
  width: 100%;
  height: 0px;
  clear: both;
}

/* Common */
/* line 3, ../../app/stylesheets/_common.sass */
body {
  background-color: #cecece;
  background-image: url("/images/background.png");
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

/* line 9, ../../app/stylesheets/_common.sass */
hr {
  display: block;
  border: none;
  height: 5px;
  background-color: black;
  margin-bottom: 0px;
}

/* line 16, ../../app/stylesheets/_common.sass */
h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #36379c;
}

/* line 22, ../../app/stylesheets/_common.sass */
h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #cecece;
}

/* line 28, ../../app/stylesheets/_common.sass */
p {
  margin-bottom: 10px;
}

/* line 31, ../../app/stylesheets/_common.sass */
a {
  color: black;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #36379c;
}

/* line 34, ../../app/stylesheets/_common.sass */
a.call_to_action {
  padding: 20px;
  text-decoration: none;
  background-color: #36379c;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #36379c), color-stop(100%, #30318c));
  background-image: -moz-linear-gradient(top, #36379c 0%, #30318c 100%);
  background-image: linear-gradient(top, #36379c 0%, #30318c 100%);
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: black 1px 1px 2px 0;
  -webkit-box-shadow: black 1px 1px 2px 0;
  -o-box-shadow: black 1px 1px 2px 0;
  box-shadow: black 1px 1px 2px 0;
}
/* line 46, ../../app/stylesheets/_common.sass */
a.call_to_action:hover {
  color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #30318c), color-stop(100%, #36379c));
  background-image: -moz-linear-gradient(top, #30318c 0%, #36379c 100%);
  background-image: linear-gradient(top, #30318c 0%, #36379c 100%);
}

/* line 50, ../../app/stylesheets/_common.sass */
table {
  width: 100%;
  border: 5px black solid;
}
/* line 55, ../../app/stylesheets/_common.sass */
table thead tr {
  background-color: black;
  color: white;
}
/* line 59, ../../app/stylesheets/_common.sass */
table thead tr th {
  padding: 10px;
}
/* line 63, ../../app/stylesheets/_common.sass */
table tbody tr:nth-child(even) {
  background-color: #cecece;
}
/* line 66, ../../app/stylesheets/_common.sass */
table tbody tr:nth-child(odd) {
  background-color: white;
}
/* line 70, ../../app/stylesheets/_common.sass */
table tbody tr td {
  padding: 10px;
}

/* line 73, ../../app/stylesheets/_common.sass */
header {
  display: block;
  width: 100%;
  padding-top: 20px;
  background-color: white;
}
/* line 79, ../../app/stylesheets/_common.sass */
header div.container {
  position: relative;
}
/* line 83, ../../app/stylesheets/_common.sass */
header h1#logo a {
  display: block;
  width: 320px;
  height: 55px;
  text-indent: -9999px;
  background-image: url("/images/logo.png");
}
/* line 90, ../../app/stylesheets/_common.sass */
header nav {
  display: block;
}
/* line 93, ../../app/stylesheets/_common.sass */
header nav ul {
  margin: 5px 0px;
}
/* line 96, ../../app/stylesheets/_common.sass */
header nav ul li {
  display: inline;
  margin-right: 10px;
}
/* line 100, ../../app/stylesheets/_common.sass */
header nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
/* line 107, ../../app/stylesheets/_common.sass */
header nav ul li a:hover, header nav ul li a.selected {
  color: #36379c;
}
/* line 111, ../../app/stylesheets/_common.sass */
header form.search {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 50px;
}
/* line 118, ../../app/stylesheets/_common.sass */
header form.search input {
  width: 286px;
}

/* line 121, ../../app/stylesheets/_common.sass */
section {
  display: block;
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}

/* line 127, ../../app/stylesheets/_common.sass */
footer {
  display: block;
  background-color: #cecece;
  background-image: url("/images/background.png");
  border-top: 5px black solid;
  padding: 10px 0px;
  font-size: 10px;
  text-shadow: #e0e0e0 1px 1px 1px;
}
/* line 136, ../../app/stylesheets/_common.sass */
footer p#copyright {
  width: 940px;
  margin: 0px auto;
  margin-bottom: 10px;
  text-align: center;
}

/* line 142, ../../app/stylesheets/_common.sass */
form {
  padding: 10px;
  background-color: #cecece;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cecece), color-stop(100%, #afafaf));
  background-image: -moz-linear-gradient(top, #cecece 0%, #afafaf 100%);
  background-image: linear-gradient(top, #cecece 0%, #afafaf 100%);
  text-shadow: #e0e0e0 1px 1px 1px;
}
/* line 149, ../../app/stylesheets/_common.sass */
form div#flash,
form div#errors {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e2e2e2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 156, ../../app/stylesheets/_common.sass */
form div#flash p,
form div#errors p {
  font-weight: bold;
}
/* line 160, ../../app/stylesheets/_common.sass */
form div#flash ul li,
form div#errors ul li {
  margin-bottom: 5px;
  list-style-position: inside;
  list-style-type: square;
}
/* line 165, ../../app/stylesheets/_common.sass */
form ul {
  clear: both;
}
/* line 168, ../../app/stylesheets/_common.sass */
form ul > li {
  display: block;
  margin-bottom: 10px;
}
/* line 172, ../../app/stylesheets/_common.sass */
form ul > li:last-child {
  margin-bottom: 0px;
}
/* line 175, ../../app/stylesheets/_common.sass */
form ul > li img {
  border: 1px #9a9a9a solid;
}
/* line 178, ../../app/stylesheets/_common.sass */
form ul > li a {
  display: block;
  margin: 10px 0px;
}
/* line 183, ../../app/stylesheets/_common.sass */
form ul > li div.field_with_errors input[type=text],
form ul > li div.field_with_errors textarea {
  border: 1px #36379c solid;
}
/* line 187, ../../app/stylesheets/_common.sass */
form label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 193, ../../app/stylesheets/_common.sass */
form input[type=text],
form input[type=password],
form input[type=file],
form textarea {
  padding: 6px;
  border: 1px #9a9a9a solid;
  font-size: 14px;
  outline: none;
}

/* line 202, ../../app/stylesheets/_common.sass */
ul.breadcrumb {
  margin-bottom: 10px;
}
/* line 205, ../../app/stylesheets/_common.sass */
ul.breadcrumb li {
  display: inline;
}
/* line 208, ../../app/stylesheets/_common.sass */
ul.breadcrumb li a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* line 214, ../../app/stylesheets/_common.sass */
ul.breadcrumb li a:hover {
  color: #36379c;
}

/* line 2, ../../app/stylesheets/_home.sass */
div#home img.banner {
  display: block;
  width: 960px;
  height: 240px;
  margin-bottom: 20px;
  background-color: #cecece;
}
/* line 9, ../../app/stylesheets/_home.sass */
div#home p {
  padding-right: 20px;
}
/* line 13, ../../app/stylesheets/_home.sass */
div#home div#featured img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 18, ../../app/stylesheets/_home.sass */
div#home div#featured h2 {
  font-size: 16px;
}
/* line 21, ../../app/stylesheets/_home.sass */
div#home div#featured h3 {
  font-size: 14px;
}

/* line 2, ../../app/stylesheets/_about.sass */
div#about img.about {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}

/* line 2, ../../app/stylesheets/_how.sass */
div#how img.how {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_how.sass */
div#how a.article {
  font-size: 16px;
}

/* line 2, ../../app/stylesheets/_careers.sass */
div#careers img.careers {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_careers.sass */
div#careers ul#brochures {
  margin-top: 40px;
}
/* line 10, ../../app/stylesheets/_careers.sass */
div#careers ul#brochures li {
  display: inline;
  margin-right: 10px;
}

/* line 2, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply .half:first-child {
  width: 460px;
  padding-right: 20px;
}
/* line 6, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply span.phone {
  display: block;
  padding: 5px 0px;
  color: #36379c;
}
/* line 11, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply ul.links {
  margin-top: 40px;
}
/* line 14, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply ul.links li {
  display: inline;
  margin-right: 10px;
}
/* line 21, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li input[type=text],
div#careers_apply form.application ul > li textarea {
  width: 445px;
  max-width: 445px;
}
/* line 26, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li:last-child {
  margin-bottom: 0px;
}
/* line 29, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li textarea {
  height: 120px;
}
/* line 32, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li span {
  float: left;
}
/* line 35, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li span input[type=text] {
  width: 133px;
  margin-bottom: 10px;
}
/* line 39, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li span:first-child {
  margin-right: 9px;
}
/* line 42, ../../app/stylesheets/_careers_apply.sass */
div#careers_apply form.application ul > li span:last-child {
  margin-left: 9px;
}

/* line 2, ../../app/stylesheets/_contact.sass */
div#contact .half:first-child {
  width: 460px;
  padding-right: 20px;
}
/* line 6, ../../app/stylesheets/_contact.sass */
div#contact span.phone {
  display: block;
  padding: 5px 0px;
  color: #36379c;
}
/* line 14, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li input[type=text],
div#contact form.contact ul > li textarea {
  width: 445px;
  max-width: 445px;
}
/* line 19, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li:last-child {
  margin-bottom: 0px;
}
/* line 22, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li textarea {
  height: 120px;
}
/* line 25, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li span {
  float: left;
}
/* line 28, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li span input[type=text] {
  width: 210px;
  margin-bottom: 10px;
}
/* line 32, ../../app/stylesheets/_contact.sass */
div#contact form.contact ul > li span:first-child {
  margin-right: 10px;
}

/* line 2, ../../app/stylesheets/_categories.sass */
div#categories img.categories {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_categories.sass */
div#categories ul.categories {
  margin-bottom: 10px;
}
/* line 10, ../../app/stylesheets/_categories.sass */
div#categories ul.categories li {
  display: inline-block;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 2, ../../app/stylesheets/_retail.sass */
div#retail img.retail {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_retail.sass */
div#retail ul#brochures {
  margin-top: 40px;
}
/* line 10, ../../app/stylesheets/_retail.sass */
div#retail ul#brochures li {
  display: inline;
  margin-right: 10px;
}

/* line 2, ../../app/stylesheets/_products.sass */
div#products img.products {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_products.sass */
div#products ul.products {
  margin-bottom: 10px;
}
/* line 10, ../../app/stylesheets/_products.sass */
div#products ul.products li {
  display: inline-block;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 2, ../../app/stylesheets/_product.sass */
div#product img.product {
  width: 320px;
  height: 440px;
  background-color: #cecece;
}
/* line 7, ../../app/stylesheets/_product.sass */
div#product ul#brochures {
  margin-top: 40px;
}
/* line 10, ../../app/stylesheets/_product.sass */
div#product ul#brochures li {
  display: inline;
  margin-right: 10px;
}

/* line 3, ../../app/stylesheets/_search.sass */
div#search p a.name {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #36379c;
}

/* line 1, ../../app/stylesheets/_admin.sass */
ul#user {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #cecece;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cecece), color-stop(100%, #afafaf));
  background-image: -moz-linear-gradient(top, #cecece 0%, #afafaf 100%);
  background-image: linear-gradient(top, #cecece 0%, #afafaf 100%);
  text-shadow: #e0e0e0 1px 1px 1px;
}
/* line 11, ../../app/stylesheets/_admin.sass */
ul#user li {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

/* line 17, ../../app/stylesheets/_admin.sass */
div#login form#login {
  width: 320px;
  margin: 0px auto;
}
/* line 21, ../../app/stylesheets/_admin.sass */
div#login form#login input[type=text],
div#login form#login input[type=password] {
  width: 305px;
}

/* line 27, ../../app/stylesheets/_admin.sass */
div#products p#create,
div#categories p#create {
  height: 60px;
  margin-bottom: 20px;
}
/* line 31, ../../app/stylesheets/_admin.sass */
div#products p#create a.call_to_action,
div#categories p#create a.call_to_action {
  float: right;
  display: block;
}
/* line 35, ../../app/stylesheets/_admin.sass */
div#products p.back,
div#categories p.back {
  font-weight: bold;
}
/* line 38, ../../app/stylesheets/_admin.sass */
div#products p.back:last-child,
div#categories p.back:last-child {
  margin-bottom: 0px;
}
/* line 41, ../../app/stylesheets/_admin.sass */
div#products form.new_product,
div#products form.edit_product,
div#products form.new_category,
div#products form.edit_category,
div#categories form.new_product,
div#categories form.edit_product,
div#categories form.new_category,
div#categories form.edit_category {
  width: 480px;
  margin-bottom: 10px;
}
/* line 48, ../../app/stylesheets/_admin.sass */
div#products form.new_product input[type=text],
div#products form.new_product input[type=file],
div#products form.new_product textarea,
div#products form.edit_product input[type=text],
div#products form.edit_product input[type=file],
div#products form.edit_product textarea,
div#products form.new_category input[type=text],
div#products form.new_category input[type=file],
div#products form.new_category textarea,
div#products form.edit_category input[type=text],
div#products form.edit_category input[type=file],
div#products form.edit_category textarea,
div#categories form.new_product input[type=text],
div#categories form.new_product input[type=file],
div#categories form.new_product textarea,
div#categories form.edit_product input[type=text],
div#categories form.edit_product input[type=file],
div#categories form.edit_product textarea,
div#categories form.new_category input[type=text],
div#categories form.new_category input[type=file],
div#categories form.new_category textarea,
div#categories form.edit_category input[type=text],
div#categories form.edit_category input[type=file],
div#categories form.edit_category textarea {
  width: 465px;
}
