%div{:id => 'careers'}
  .third
    %img{:class => 'careers', :src => '/images/jeff.png', :alt => 'MARC Careers'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/careers'} Careers
    %h2 Careers
    %p Opportunity is knocking and I thank you for looking into a career with MARC as a Sales Representative.
    %p Our success over the last 45 years has been achieved in large part by our Sales Representatives; and they continue to be the economic engine for the future growth of our company.
    %p At the beginning of each year we introduce a theme to challenge and motivate our Sales Representatives. Our theme for the year 2015 is “ATTITUDE”.  Attitude is the difference than can transform a good salesman into a great salesman! 
    %p A quote from William James on Attitude says, “The greatest discovery of my generation is that a person can alter their life by altering their Attitude”. I believe this to be true. Attitude is Everything!
    %p One of the key elements for sales success at MARC, is to implement the proven four step selling strategy of Barrier Break, Demonstrate, Promote and Close. As a sales representative I successfully used this method to consistently produce three or more sales a day. A winning attitude goes hand in hand with this strategy.
    %p When a Sales Representative can engage customers with a positive “can do” attitude in identifying the appropriate products to meet each customer’s specific needs, and show the added value of how MARC products make their jobs easier and more productive; the Sales Representative will accomplish success in selling MARC products. At MARC you will be part of a winning team that focuses on equipping you with an ever growing understanding of the benefits of using MARC products, so that you can successfully meet the needs of your customers.
    %p Again, I thank you for your career interest with MARC as a Sales Representative, and wish you a bright and rewarding future.
    %p Sincerely,
    %p Jeff Fremarek, President    
    %ul{:id => 'brochures'}
      %li
        %a{:href => '/documents/marc_times_recruiting.pdf', :class => 'call_to_action'} Marc Times 2015 - Recruiting
      %li
        %a{:href => '/careers/apply', :class => 'call_to_action'} Apply Now!
  .clear