%div{:id => 'careers'}
  .third
    %img{:class => 'careers', :src => '#', :alt => 'MARC Careers'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/careers'} Careers
    %h2 Careers
    %p Letter from the president...
    %p{:id => 'call_to_action'}
      %a{:href => '/documents/careers.pdf', :class => 'call_to_action'} View Our Career Opportunities Brochure
  .clear