%div{:id => 'careers'}
  .third
    %img{:class => 'careers', :src => '/images/chuck.png', :alt => 'MARC Careers'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/careers'} Careers
    %h2 Careers
    %p
      Opportunity is knocking and I thank you for looking into a career with MARC as a Sales Representative.
    %p
      Our success over the last 43 years has been achieved in large part by our Sales Representatives; and they continue to be the economic engine for the future growth of our company.
    %p
      At the beginning of each year we introduce a theme to challenge and motivate our Sales Representatives.  For 2013 our theme is “IMPACT ZONE”.  The “Impact Zone” is comprised of four key components: 
    %p{:style => 'font-weight: bold;'}
      Barrier Break, Demonstrate, Promote and Close
    %p
      Approaching our customers with these “Impact Zone” components, we call on new and existing accounts alike with a goal of making more presentations per day.  In these presentations we visually demonstrate our products, thereby illustrating both the effectiveness and the economical benefits of choosing MARC products. This heightened concentration on performance consistently produces maximum results, achieving a higher sales volume per year for each of us. 
    %p
      As a Sales Representative, I have personally utilized this same four step selling strategy of Barrier Break, Demonstrate, Promote and Close. I implemented this strategy ten times a day and it consistently produced three or more sales a day. Consistent use of this four step approach proved itself to me time and time again.
    %p
      I believe that when a Sales Representative can engage their customers in identifying the appropriate products to use in their place of business, and show them the added value of how MARC products make their jobs easier and more productive; then the Sales Representative will have accomplished success in selling MARC products.
    %p
      Again, I thank you for your career interest with MARC as a Sales Representative, and wish you a bright and rewarding future.
    %p
      Sincerely,
    %p
      Chuck Micek, President
    
    %ul{:id => 'brochures'}
      %li
        %a{:href => '/documents/careers.pdf', :class => 'call_to_action'} Career Opportunities Brochure
      %li
        %a{:href => '/careers/apply', :class => 'call_to_action'} Apply Now!
  .clear