%div{:id => 'careers'}
  .third
    %img{:class => 'careers', :src => '/images/jeff.png', :alt => 'MARC Careers'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/careers'} Careers
    %h2 Careers
    %p Thank you for your interest into a career with MARC as a Sales Representative.
    %p As a family owned company, our success over the last 46 years has been achieved in large part by our Sales Representatives; and they are the economic engine for the future growth of our company.
    %p At the beginning of each year we introduce a theme to challenge and motivate our Sales Representatives. Our theme for the year 2016 is “FOCUS”. By “Focusing” on your potentials instead of your limitations, you will have more sales opportunities!
    %p This year at our Winter Meeting one of our Rookies, Brent Oldham, talked about Focusing on opportunities. Brent thinks of opportunities as a doorway. By going through a customer’s doorway you have the opportunity to sell MARC products. You never know what you will find behind the doorway, unless you walk through it and if you hear the word “NO” translate it to “New Opportunities”. Opportunities, plus walking through doorways will equal success in 2016!
    %p One of MARC’s key elements for sales success is to implement the proven four step selling strategy of Barrier Break, Demonstrate, Promote and Close. As a Sales Representative I successfully used this method to consistently produce three or more sales a day. Focus on this strategy as it has been proven to work time and time again.
    %p When a Sales Representative FOCUSES on identifying the appropriate products to meet the customer’s specific needs and show the added value; the Sales Representative will be successful.
    %p Again, I thank you for your career interest with MARC as a Sales Representative, and wish you a bright and rewarding future.
    %p Sincerely,
    %p Jeff Fremarek, President
    %ul{:id => 'brochures'}
      %li
        %a{:href => '/documents/marc_times_2016.pdf', :class => 'call_to_action'} MARC Times
      %li
        %a{:href => '/careers/apply', :class => 'call_to_action'} Apply Now!
  .clear
