%div{:id => 'careers'}
  .third
    %img{:class => 'careers', :src => '/images/chuck.png', :alt => 'MARC Careers'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/careers'} Careers
    %h2 Careers
    %p 
      Thank you for taking the time in looking into a career with MARC as a Sales Representative.
      Our success over the last forty (40) years has been achieved in large part by our Sales Representatives; and continues to be the economic engine for the future growth of our company.
    %p
      At the beginning of each year we introduce a theme to challenge and motivate our Sales Representatives. This year our theme is “Just One More”. “Just One More” presentation, sale or close per day will produce amazing results. 
      In the 1st Period of 2010, our Sales Representatives responded to our “Just One More” theme and produced amazing results as we were up 30% over the 2009 1st Period. This is the result of the extra efforts our Sales Representatives have put forth.
    %p 
      As a Sales Representative I learned of a successful four step selling strategy, which is, (1) Barrier Break, (2) Demonstrate, (3) Promote and (4) Close. I implemented this strategy (10) times a day and it produced for me three (3) or more sales a day.
      I believe when a Sales Representative can engage their customers in identifying the appropriate products to use in their place of business and show them the added value of how MARC products make their jobs easier and more productive; then the Sales Representative will have ac- complished success in selling MARC products.
    %p Again, thank you for looking into a career with MARC as a Sales Representative.
    %ul{:id => 'brochures'}
      %li
        %a{:href => '/documents/careers.pdf', :class => 'call_to_action'} Career Opportunities Brochure
      %li
        %a{:href => '/documents/application.pdf', :class => 'call_to_action'} Application
        //%a{:href => '/careers/apply', :class => 'call_to_action'} Apply Now!
  .clear