%div{:id => 'retail'}
  .third
    %img{:class => 'retail', :src => '/images/retail.png', :alt => 'MARC Retail'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/categories'} Product Categories
      %li >>
      %li
        %a{:href => '/retail'} Retail
    %h2 Retail
    %p MARC has taken some of its industrial-quality products and packaged them appropriately for the residential homeowner. Time is a premium for everyone, and the residential user can benefit from the same time savings as professional maintenance personnel.
    %p Our products are made available to the homeowner through better retail outlets, typically hardware and plumbing establishments.
    %p MARC products packaged and labeled for residential use are listed below.
    %ul{:id => 'brochures'}
      %li
        %a{:href => '/documents/compliance_2016.pdf', :class => 'call_to_action'} Certificate Of Compliance
  .clear
