div#contact
  .half:first-child
    width: 460px
    padding-right: 20px
    
  span.phone
    color: $blue
    
  form#contact
    padding: 10px
    background-color: $gray
    @include border-radius(10px)
    @include linear-gradient(color-stops($gray, $gray * .85))
    @include text-shadow($white * .88)
    
    ul
      > li
        input[type=text],
        textarea
          width: 445px
          max-width: 445px
      
        &:last-child
          margin-bottom: 0px
        
        textarea
          height: 120px
        
        span
          float: left
          
          input[type=text]
            width: 210px
            margin-bottom: 10px
          
          &:first-child
            margin-right: 10px
            
        div.field_with_errors
          input[type=text],
          textarea
            border: 1px $blue solid
    
    div#flash,
    div#errors
      margin-bottom: 10px
      padding: 10px
      background-color: $gray * 1.1
      @include border-radius(10px)
      
      p
        font-weight: bold
        
      ul
        li
          margin-bottom: 5px
          list-style-position: inside
          list-style-type: square
        