div#home
  img.banner
    display: block
    width: 960px
    height: 190px
    margin-bottom: 20px
    background-color: $gray
  
  p
    padding-right: 20px
    
  div#featured
    img
      float: left
      margin-right: 10px
      margin-bottom: 10px
    
    h2
      font-size: 16px
    
    h3
      font-size: 14px