%div{:id => 'home'}
  %img{:id => 'home', :src => '#', :alt => 'MARC Collage'}
  .third
    %h2 Mission Statement
    %p MARC is a specialty chemical manufacturing company that strives to produce innovative,environmentally responsible, economical and quality maintenance products with superior customer service
    %p We will do this through the continued research and development of innovative chemical solutions. 
    %p In the pursuit of our mission, we will strive to attract, develop, retain and reward the best people in our industry.
  .third
    %h2 Who We Are
    %p MARC distributes an extensive line of commercial floor maintenance products, including floor cleaners and waxes, gymnasium finishes, concrete sealers and carpet cleaners.
    %p MARC is a leading supplier of restroom sanitizers and deodorant products.
    %p MARC also distributes many products for facilities grounds and parking areas.   Applicable products include insect and weed controls, crack fillers, ice melters, and traffic marking paints.
    %p For municipal and private swimming pools, MARC can provide its customers with the finest quality swimming pool coatings and water-related conditioning products.
    %p Governmental entities will find an extensive, quality line of vehicle, heavy machinery and shop related maintenance products
  .third
    %h2 Featured Product
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dui nec urna consequat sed pharetra eros commodo. Donec pharetra fermentum varius. In diam turpis, fermentum id semper vel, fermentum id nisi. Vestibulum tristique risus in elit semper feugiat. Etiam vel metus neque. Mauris nunc nunc, aliquam at sodales ut, rutrum quis purus. Duis et eros nisl, sit amet posuere lacus. Nunc non sollicitudin ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla, ligula non faucibus tristique, nisi tortor faucibus lorem, sit amet accumsan sem massa nec neque. Suspendisse potenti. Aliquam eleifend mattis nunc tincidunt aliquam. Vivamus eros dolor, aliquet eget tincidunt non, tempor vel nisi. Morbi tincidunt, odio sit amet porttitor posuere, tortor justo convallis quam, nec mattis tellus enim sed odio.
  .clear