%div{:id => 'retail'}
  %ul{:class => 'breadcrumb'}
    %li
      %a{:href => '/'} MARC
    %li >>
    %li
      %a{:href => '/retailer'} Retailers
  %h2 Retailers
  / - @search.each do |product|
  /   %p
  /     %a{:href => "/categories/#{product.category_id}/products/#{product.id}", :class => 'name'}= product.title
  /     = product.description