%div{:id => 'how'}
  .third
    %img{:class => 'how', :src => '/images/missing.png', :alt => 'MARC How To'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/how'} How To…
    %h2 How To…
    %p
      %a{:href => '#', :class => 'article'} How To Troubleshoot Common Floor Care Problems
    %p
      %a{:href => '#', :class => 'article'} Professional Maintenance of Hard Floors
    %p
      %a{:href => '#', :class => 'article'} Secrets of Successful Pool Painting
    %p
      %a{:href => '#', :class => 'article'} Carpet Manual
  .clear