%div{:id => 'how'}
  .third
    %img{:class => 'how', :src => '/images/how_to.png', :alt => 'MARC How To'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/how'} How To…
    %h2 How To…
    %p
      %a{:href => '/documents/professional_maintenance.pdf', :class => 'article'} Professional Maintainance Of Resilient Floors
    %p
      %a{:href => '/documents/secrets_pool_2015.pdf', :class => 'article'} Secrets of Successful Pool Painting
    %p
      %a{:href => '/documents/carpet_manual_2016.pdf', :class => 'article'} Carpet Care Manual
  .clear
