%div{:id => 'categories'}
  %p{:class => 'back'}
    = link_to "Back To Categories", admin_categories_path
  = render :partial => 'form'
  %p{:class => 'back'}
    = link_to "Back To Categories", admin_categories_path