%div{:id => 'products'}
  %p{:class => 'back'}
    = link_to "Back to products", admin_products_path
  = render :partial => 'form'
  %p{:class => 'back'}
    = link_to "Back to products", admin_products_path