%div{:id => 'about'}
  .third
    %img{:id => 'about', :src => '#', :alt => 'MARC About'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/about'} About Us
    %h2 About Us
    %p Mid-American Research Chemical Corporation, better known by its acronym "MARC", was founded in 1970 in the heart of the United States. 
    %p Our location allows us a central shipping point to all the contiguous states.
    %p The late Steve Fremarek took MARC from a modest beginning to a modern blending facility producing and marketing over 400 sanitary maintenance-related products, which are regarded as industry standards of quality.
    %p Products formulated for specific applications are blended and packaged for an expanding market, primarily to professional maintenance personnel of cities, counties, schools, nursing homes, hospital, commercial and industrial accounts.
    %p MARC's product line also includes professional-quality maintenance products specifically packaged for the retail market and distributed through plumbing, hardware and other commercial outlets.
    %p MARC is directly represented in the field by a highly motivated and professional sales staff who are available to assist maintenance personnel with application and product information.
  .clear