%div{:id => 'about'}
  .third
    %img{:class => 'about', :src => '/images/stevejan.png', :alt => 'MARC About'}
    %img{:class => 'group', :src => '/images/group.png', :alt => 'MARC About'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/about'} About Us
    %h2 About Us
    %p Mid-American Research Chemical Corporation, better known by its trademark name “MARC” was founded in 1970 and has been owned by the Fremarek family since 1988.
    %p The late Steven Fremarek took MARC from its modest beginnings to a modern blending facility producing and marketing over 400 high quality chemical products. Steven’s extensive sales and management background helped MARC experience tremendous growth. 
    %p Steven’s vision went beyond providing high quality products. He also created a family oriented business that is passionate about what it does. Everyone, from the sales representatives to the office and plant employees, including the management team, is part of an extended family that truly cares. Each member of our extended family makes a significant contribution to the Company. We have increased business year after year, for the past forty plus years.   
    %p Today, Steven’s wife Jan Fremarek, along with their children Jeff Fremarek and Jen Welte, continue with Steven’s vision to provide customers with high quality products in a family oriented business.
    %p Jeff Fremarek serves as President of the MARC. He reflects qualities inspired by his father, and has over 20 years of sales and management experience. Before working at the headquarters of MARC, Jeff represented MARC in the sales field for many years, giving him a keen understanding of the goals and challenges each sales representative faces. 
    %p MARC is directly represented in the field by highly talented, motivated and professional sales representatives who are available to assist with product application and information. Currently, we serve across territories in 29 states and continue to expand into further territories.
    %p Headquartered in Columbus, Nebraska (the center of the United States); MARC is a convenient central shipping point to customers throughout the United States.
  .clear