%div{:id => 'categories'}
  .third
    %img{:class => 'categories', :src => "#{@categories[rand(@categories.size)].image(:medium) unless @categories.empty?}", :alt => 'MARC Categories'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/categories'} Product Categories
    %h2 Product Categories
    %ul{:id => 'categories'}
      - @categories.each do |category|
        %li
          %a{:href => "/categories/#{category.id}/products", :'data-image-url' => category.image(:medium)}= category.title
    %h2 Looking For Our Retail Products?
    %p 
      Visit our 
      %a{:href => '/retail'} retail products 
      page for more information!
  .clear