%div{:id => 'products'}
  .third
    %img{:id => 'products', :src => "#{@category.image(:medium) unless @category.nil?}", :alt => 'MARC Products'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/categories'} Product Categories
      %li >>
      %li
        %a{:href => "/categories/#{params[:category_id]}/products"}= @category.title unless @category.nil?
    %h2 Products
    %ul{:id => 'products'}
      - @products.each do |product|
        %li
          %a{:href => "/categories/#{params[:category_id]}/products/#{product.id}", :'data-image-url' => product.image(:medium)}= product.title
  .clear